# Result Visualization

## This notebook shows the visualization of the experiment results.

In [40]:
import pandas as pd

from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

from pymongo import MongoClient

init_notebook_mode(connected=True)

client = MongoClient()

## We retrieve Active Learning Accuracy (ALC) between IPBE and UDATA from result database.

In [41]:
import itertools

dataset_wth_alc = []


for dataset in ["sygus", "nyc", "prog"]:
    dataset_wth_alc.extend(
        [
            {
                "method": x["config"]["mapping_method"],
                "scenario_acc": x["result"]["correct_transformations"],
                "example_acc": x["result"]["micro_mean_acc"],
                "example_p": x["result"]["example_valid_p"],
                "example_r": x["result"]["example_valid_r"],
                "example_f1": x["result"]["example_valid_f1"],
                "scenario_p": x["result"]["scenario_valid_p"],
                "scenario_r": x["result"]["scenario_valid_r"],
                "scenario_f1": x["result"]["scenario_valid_f1"],
                "correct_transformations": x["result"]["correct_transformations"],
                "dataset": dataset,
            }
            for x in client.sacred.runs.findOne({"config.dataset": dataset})
            if x["result"] is not None
        ]
    )


df = pd.DataFrame(
    dataset_wth_alc,
    columns=[
        "dataset",
        "example_acc",
        "scenario_acc",
        "example_p",
        "example_r",
        "example_f1",
        "scenario_p",
        "scenario_r",
        "scenario_f1",
    ],
)
df

,dataset,example_acc,scenario_acc,example_p,example_r,example_f1,scenario_p,scenario_r,scenario_f1
0,sygus,0.568966,0.222222,0.609125,0.85913,0.712843,0.666667,0.190476,0.296296
1,sygus,0.568966,0.222222,0.609125,0.85913,0.712843,0.666667,0.190476,0.296296
2,sygus,0.568966,0.222222,0.609125,0.85913,0.712843,0.777778,1.000000,0.875000
3,sygus,0.568966,0.222222,0.609125,0.85913,0.712843,0.791667,0.904762,0.844444
4,nyc,0.923628,0.333333,0.302600,1.00000,0.464610,0.666667,0.500000,0.571429
5,nyc,0.923628,0.333333,0.302600,1.00000,0.464610,0.666667,1.000000,0.800000
6,nyc,0.923628,0.333333,0.302600,1.00000,0.464610,0.800000,1.000000,0.888889
7,prog,0.517857,0.500000,0.760563,1.00000,0.864000,0.000000,0.000000,0.000000
8,prog,0.517857,0.500000,0.760563,1.00000,0.864000,0.500000,1.000000,0.666667
9,prog,0.517857,0.500000,0.760563,1.00000,0.864000,0.600000,1.000000,0.750000